#logout-container {
    position: fixed !important;
    top: 20px !important;
    left: 20px !important;
    bottom: auto !important;
    transform: none !important;
    z-index: 1000004 !important;
    display: none;
    width: auto;
    pointer-events: auto !important;
}
